*.o
*.lo
*.a
*.la
*.lai
*.so
*.so.*
runtest
*.cc
*.lib
*.lst
*.err
*.log
*.lnk
*.ver.cpp
gcexample
*.usage
.deps
.project
.cproject
/config.h
/Makefile
/autom4te.cache/
/config.status
/libtool
/stamp-h1
